* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li a {
  list-style-type: none;
  text-decoration: none;
  letter-spacing: 2px;
  background: #222;
  color: red;
  padding: 10px;
  display: block;
}

.a {
  font-size: 60px;
  background: red;
  margin: 60px;
  display: inline-block;
}
